# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.layout
*.cbp
*.depend
*.h.gch
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# dir
/bin/
/obj/

